RewriteEngine On
RewriteCond % { HTTP_HOST } ^ litchies\.com[NC]
RewriteCond % { SERVER_PORT } 80
RewriteRule ^ (.*)$ https://www.litchies.com/$1 [R,L]
RewriteCond %{HTTP_HOST} ^ litchies\.com[NC]/.well-known/assetlinks.json$
RewriteRule (.*)$ https://www.litchies.com/.well-known/assetlinks.json/$1 [R=301,L]